html,
body{
    height:100%;
    padding-bottom: 53px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-brand{
    color: #5d6ca4; !important;
}

.boxed{
    background-color: #fff;
    padding: 0;
}

.boxed h3.title{
    background-color: #5d6ca4;
    margin: 0;
    color: #fff;
    font-weight: bold;
    padding:20px 0 20px 20px;
    font-size: 16px;
}

.boxed form{
    padding:10px 10px;
}

.main{
    min-height:100%;
    margin-top:50px;
    position: relative;
    padding-bottom: 150px;
}

.footer{
    position: absolute;
    bottom: 0;
    width:100%;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    left:0;
}

#plot{
    max-height:450px;
}

.badge-warning{
    color: white;
}

.plot-display img{
    max-width: 100%;
}

#particles-js canvas{
    min-height: 500px;
}

.g-recaptcha{
    margin:auto;
}

.hoverable:hover{
    cursor: pointer;
}

.carousel-item img{
    max-height:450px;
}

.notes span{
    font-size: 12px;
    margin-left:10px;
}








